.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.root {
  font-family: arial, helvetica, sans-serif;
  font-size: 14px;
  color: black;
  background-color: #d3ffdd;
  margin: 40px;
  padding: 0;
}

label {
  margin-top: 5px;
  margin-right: 5px;
  margin-left: 5px;
}

select {
  margin-top: 5px;
  margin-right: 5px;
  margin-left: 5px;
}

input {
  margin-top: 5px;
  margin-right: 5px;
  margin-left: 5px;
}
